@charset "utf-8";
/* 
        Author: Jose Felix
        Date: 1.22.19
*/

/* HTML and Body */
html {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        height: 100%;
        background: url(ai-artificial-intelligence-codes-247791.jpg) round;
}
/* I made the body with some opacity so you can notice the back of the image that is called in from the url above. I have marginleft and right to be auto so that it centers the body element correctly within the page */
body {
        background-color: rgba(60, 60, 164, 0.442);
        margin-left: auto;
        margin-right: auto;
        min-height: 100%;
        width: 90%;
}
/* Header styles */
/* This needed to have a display of block before the marginleft and right could be affected */
header img.image {
        display: block;
        margin-left: auto;
        margin-right: auto;
}
/* this could have been a blockquote or an article -it doesn't matter, because the CSS is the only thing that matters at the time */
blockquote {
        margin-top: 10px;
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        background-color: whitesmoke;
        padding: 20px;
}
blockquote p {
        font-size: 1.5em;
        padding-top: 10px;
}
/* I had container collapse with the header so I put the display to tavle and content to empty tags along with aligning the side margins */
blockquote h1 {
        display: table;
        content: "";
        margin-left: auto;
        margin-right: auto;
        color: royalblue;
        font-size: 1.6em;
        text-align: center;
        padding: 10px 0px;
        padding-top: 10px;
}
/* Navigation Styles */
nav ul li a {
        text-decoration: none;
        color: rgb(234, 234, 18);
}

nav ul li:hover {
        opacity: 0.9;
        line-height: 1.3em;
}

nav ul li a{
        float: left;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        overflow: hidden;
        width: 25%;
        background: rgb(29, 29, 173);
}
nav ul li a:hover {
        color: rgba(150, 150, 175, 0.863);
}
/* Form Styles */
/* I gave the border a radius which makes the curved edges and the flex is given values for growth and shrink rates along with the standard output. */
form {
        border-radius: 20px;
        -webkit-flex: 1 1 300px;
        flex: 1 1 300px;
        font-size: 0.85em;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 70%;
}
/* the flex here is so that the page can render better with being stretched and not. This is important for changing the sizes of monitors. */
div.formDiv {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        margin: 7px 0px;
}

/* Navigation List Styles */


/* Footer Styles */
